<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/customerPage.css')}}" />
    <title>eHotels Customer Page</title>
    <style>
      nav {
          background-color: #333;
          overflow: hidden;
      }
      
      nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
      }
      
      nav li {
          float: left;
      }
      
      nav li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      
      nav li a:hover {
          background-color: #111;
      }
  </style>
</head>
<body>
  <nav>
    <ul>
      <li><a href="http://127.0.0.1:5000/">Home</a></li>
      <li><a href="http://127.0.0.1:5000/login">Login</a></li>
      <li><a href="http://127.0.0.1:5000/register">Registration</a></li>
      <li><a href="http://127.0.0.1:5000/loginCustomerPage">Booking</a></li>
    </ul>
  </nav>
    
    <form class="filter-form">

        <div class="form-group">
            <label for="hotel-chain-filter">Hotel chain</label>
            <select class="form-control" id="hotel-chain-filter" name="hotel-chain-filter">
              {% for chain in chains %}
                <option value="{{ chain[0] }}">{{ chain[0] }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="hotel-chain-filter">Hotel</label>
            <select class="form-control" id="hotel-chain-filter" name="hotel-chain-filter">
              <option value="hotel 1">hotel 1 location</option>
              <option value="hotel 2">hotel 2 location</option>
              <option value="hotel 3">hotel 3 location</option>
              <option value="hotel 4">hotel 4 location</option>
              <option value="hotel 5">hotel 5 location</option>
              <option value="hotel 6">hotel 6 location</option>
              <option value="hotel 7">hotel 7 location</option>
              <option value="hotel 8">hotel 8 location</option>
            </select>
          </div>

        <div class="form-group">
            <label for="start-date-filter">Check-in date:</label>
            <input type="date" class="form-control" id="start-date-filter" name="start-date-filter">
          </div>
          
          <div class="form-group">
            <label for="end-date-filter">Check-out date:</label>
            <input type="date" class="form-control" id="end-date-filter" name="end-date-filter">
          </div>
        
        <div class="form-group">
          <label for="num-rooms-filter">Number of rooms:</label>
          <select class="form-control" id="num-rooms-filter" name="num-rooms-filter">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5+</option>
          </select>
        </div>

        <div class="form-group">
            <label for="star-rating-filter">Star rating:</label>
            <div class="star-rating">
                <input type="radio" id="rating-all" name="star-rating-filter" value="all" checked>
                <label for="rating-all">All</label>
                <input type="radio" id="rating-1" name="star-rating-filter" value="1">
                <label for="rating-1">1 star</label>
                <input type="radio" id="rating-2" name="star-rating-filter" value="2">
                <label for="rating-2">2 stars</label>
                <input type="radio" id="rating-3" name="star-rating-filter" value="3">
            <label for="rating-3">3 stars</label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="price-filter">Price range:</label>
            <input type="range" class="form-control-range" id="price-filter" name="price-filter">
        </div>
      </form>
</body>
</html>