<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/customerPage.css')}}"
    />
    <title>eHotels Customer Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      var form = document.getElementById("filterForm");
      form.addEventListener("submit", function (event) {
        event.preventDefault();
      });

      $(document).ready(function () {
        // When the hotel chain filter is changed, update the hotel filter options
        $("#hotel-chain-filter").change(function () {
          var chain_name = $(this).val();
          if (chain_name !== "") {
            $.ajax({
              url: "/get_hotels",
              data: { chain_name: chain_name },
              success: function (response) {
                // Clear and re-populate the hotel filter dropdown with the new options
                $("#hotel-filter")
                  .empty()
                  .append($("<option>", { value: "", text: "Select a hotel" }));
                $.each(response.hotels, function (index, hotel) {
                  $("#hotel-filter").append(
                    $("<option>", { value: hotel[0], text: hotel[0] })
                  );
                });
              },
              error: function () {
                console.log("Error getting hotel data");
              },
            });
          } else {
            // Clear the hotel filter dropdown if no chain is selected
            $("#hotel-filter")
              .empty()
              .append($("<option>", { value: "", text: "Select a hotel" }));
          }
        });
      });
    </script>
  </head>
  <style>
    nav {
      background-color: #212931;
      overflow: hidden;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    nav li {
      float: left;
    }

    nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    nav li a:hover {
      background-color: #111;
    }

    table,
    th,
    td {
      border: 1px solid;
      text-align: center;
    }

    th {
      height: 30px;
    }
    table {
      border-collapse: collapse;
      width: 80%;
    }

    button {
      background-color: #212931;
      border: none;
      color: white;
      padding: 12px 26px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
    }
  </style>
  <body>
    <nav>
      <ul>
        <li><a href="http://127.0.0.1:5000/">Home</a></li>
        <li><a href="http://127.0.0.1:5000/login">Login</a></li>
        <li><a href="http://127.0.0.1:5000/register">Registration</a></li>
        <li><a href="http://127.0.0.1:5000/loginCustomerPage">Booking</a></li>
      </ul>
    </nav>

    <form id="filterForm" class="filter-form" method="get">
      <div class="form-group">
        <label for="hotel-chain-filter">Hotel chain</label>
        <select
          class="form-control"
          id="hotel-chain-filter"
          name="hotel-chain-filter"
          onchange="this.form.submit()"
        >
          {% for chain in chains %}
          <option value="{{ chain[0] }}">{{ chain[0] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="hotel-filter">Hotel</label>
        <select class="form-control" id="hotel-filter" name="hotel-filter">
          {% for hotel in hotels %}
          <option value="{{ hotel[1] }}">{{ hotel[0] }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="num-rooms-filter">Number of rooms:</label>
        <select
          class="form-control"
          id="num-rooms-filter"
          name="num-rooms-filter"
        >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
      </div>

      <div class="form-group">
        <label for="min-price">Minimum Price:</label>
        <input
          type="number"
          id="min-price"
          name="min-price"
          min="10"
          max="100"
          value="10"
        />

        <label for="max-price">Maximum Price:</label>
        <input
          type="number"
          id="max-price"
          name="max-price"
          min="30"
          max="1000"
          value="400"
        />
      </div>
      <div class="form-group">
        <input
          checked
          type="checkbox"
          id="hasWifi-filter"
          name="hasWifi-filter"
          value="1"
        />
        <label for="hasWifi-filter"> Wifi</label><br />
        <input
          type="checkbox"
          id="hasJacuzzi-filter"
          name="hasJacuzzi-filter"
          value="1"
        />
        <label for="hasJacuzzi-filter"> Jacuzzi</label><br />
      </div>

      <div class="form-group">
        <label for="viewType-filter">View type:</label>
        <select
          class="form-control"
          id="viewType-filter"
          name="viewType-filter"
          value="Sea view"
        >
          <option value="Sea view">Sea view</option>
          <option value="Mountain view">Mountain view</option>
        </select>
      </div>

      <!--
        <div class="form-group">
          <label for="start-date-filter">Check-in date:</label>
          <input type="date" class="form-control" id="start-date-filter" name="start-date-filter">
        </div>
        
        <div class="form-group">
          <label for="end-date-filter">Check-out date:</label>
          <input type="date" class="form-control" id="end-date-filter" name="end-date-filter">
        </div>
         -->

      <div class="form-group">
        <button type="submit" name="getRoomsBtn" value="getRooms">
          Submit
        </button>
      </div>
    </form>

    <!-- Search Results -->
    <table>
      <h3>List of available rooms</h3>
      <br />
      <thead>
        <tr>
          <th>Room ID</th>
          <th>Hotel</th>
          <th>Price</th>
          <th>Wifi</th>
          <th>Jacuzzi</th>
          <th>Capacity</th>
          <th>View Type</th>
          <th>Extendable</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
        <tr>
          <td>{{ result[0] }}</td>
          <td>{{ result[1] }}</td>
          <td>{{ result[2] }}</td>
          {% if result[3] == 1 %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
          {% endif %} {% if result[4] == 1 %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
          {% endif %}
          <td>{{ result[5] }}</td>
          <td>{{ result[6] }}</td>
          {% if result[7] == 1 %}
          <td>Yes</td>
          {% else %}
          <td>No</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <h3>Please select the room you want by entering Check-in/Check-out dates and the Room ID</h3>
      <div style="display: flex;">
        <div style="margin-right: 20px;">
          <label for="checkin">Check-in date:</label>
          <input type="date" id="checkin" name="checkin" style="width: 150px;"> 
        </div>
        <div>
          <label for="checkout">Check-out date:</label>
          <input type="date" id="checkout" name="checkout" min="" disabled style="width: 150px;">
        </div>
      </div>
      <div style="margin-top: 10px;">
        <label for="textbox">Room ID:</label>
        <input type="text" id="textbox" name="textbox">
        <button id="submitButton" type="button">Book</button>
      </div>
      <script>
        const checkinInput = document.getElementById("checkin");
        const checkoutInput = document.getElementById("checkout");
        const submitButton = document.getElementById("submitButton");
    
        checkinInput.addEventListener("input", () => {
          checkoutInput.min = checkinInput.value;
          checkoutInput.disabled = false;
        });
    
        submitButton.addEventListener("click", () => {
          const roomID = document.getElementById("textbox").value;
        });
      </script>
    </div>
  </body>
</html>
